configuration {
  modi: "window,combi,ssh,drun,run,keys";
	width: 800;
	lines: 10;
	columns: 2;
	font: "IosevkaTermSlab Nerd Font Mono 14";
	show-icons: true;
	icon-theme: "papirus";
	display-drun: "App";
}
